@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

body {
	background-color: #28223F;
	font-family: Montserrat, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
}

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
	color: #B3B8CD;
	padding-top: 40px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}


.card-container .round {
	border: 1px solid #6D28D9;
	border-radius: 50%;
	padding: 7px;
}

.button .primary {
	background-color: transparent;
	color: #c6c9d3;
	border-radius: 5px;
	font-family: Montserrat, sans-serif;
	padding: 4px 8px;
	text-decoration: none;
	border-style: groove;
	border-color: #6D28D9;
	margin: 1em;
}
	

.button .secondary {
	background-color: transparent;
	color: #c6c9d3;
	border-radius: 5px;
	font-family: Montserrat, sans-serif;
	padding: 4px 8px;
	text-decoration: none;
	border-style: groove;
	border-color: #6D28D9;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 12.5px;
	margin-top: 28px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}